<dialog id="dialog-remove-category" class="mdl-dialog">
    <h5 class="mdl-dialog__title">Slet kategori</h5>
    <div class="mdl-dialog__content">
        <p>Er du sikker på at du vil slette kategorien?</p>
        <p><i class="material-icons">warning</i> Alle underkategorier med tilhørende underaktiviteter bliver slettet!</p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button accept">Slet</button>
        <button type="button" class="mdl-button close">Fortryd</button>
    </div>
</dialog>