<dialog id="dialog-remove-subcategory" class="mdl-dialog">
    <h5 class="mdl-dialog__title">Slet underkategori</h5>
    <div class="mdl-dialog__content">
        <p>Er du sikker på at du vil slette underkategorien?</p>
        <p><i class="material-icons">warning</i> Alle underaktiviter bliver slettet!</p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button accept">Slet</button>
        <button type="button" class="mdl-button close">Fortryd</button>
    </div>
</dialog>