<div class="mdl-layout__drawer">
    <div class="mdl-card mdl-color--grey-800 " style="width:100%;height:200px">

        <div class="mdl-card__supporting-text mdl-card--expand mdl-typography--text-center">
            <img id="photoURL" src="" class="avatar" />
        </div>
        <div class="mdl-card__supporting-text mdl-typography--text-center mdl-color-text--grey-300">
            <div id="displayName" class="mdl-typography--title">Ikke logget ind </div>
        </div>
        <div class="mdl-card__actions mdl-card--border mdl-typography--text-right">
            <a id="nav-login" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-300">
            Login
          </a>
            <a id="nav-logout" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-300">
            Logout
          </a>
        </div>
    </div>

    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/index.html">
            <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--blue-grey mdl-color-text--white">
            <i class="material-icons">home</i>
          </span><span>Forside</span>
        </a>
        <a class="mdl-navigation__link" href="/search.html">
            <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--indigo mdl-color-text--white">
          <i class="material-icons">search</i>
        </span> Udforsk
        </a>
        <a class="mdl-navigation__link" href="/map.html">
            <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--teal mdl-color-text--white">
          <i class="material-icons">public</i>
        </span> Kort
        </a>
        <a class="mdl-navigation__link" href="/events.html">
            <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--pink mdl-color-text--white">
          <i class="material-icons">event</i>
        </span> Kalender
        </a>
        <a class="mdl-navigation__link" href="http://www.elsiwhere.net" target="_blank">
            <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--deep-orange mdl-color-text--white">
          <i class="material-icons">help_outline</i>
        </span> Om Elsiwhere
        </a>
        <!--
        <a class="mdl-navigation__link" href="">
          <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--pink mdl-color-text--white">
          <i class="material-icons">search</i>
        </span> Oplevelser
        </a>
        <a class="mdl-navigation__link" href="">
          <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--purple mdl-color-text--white">
          <i class="material-icons">search</i>
        </span> Oplevelser
        </a>
        <a class="mdl-navigation__link" href="">
          <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--deep-purple mdl-color-text--white">
          <i class="material-icons">search</i>
        </span> Oplevelser
        </a>
        <a class="mdl-navigation__link" href="">
          <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--indigo mdl-color-text--white">
          <i class="material-icons">search</i>
        </span> Oplevelser
        </a>
        <a class="mdl-navigation__link" href="">
          <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--blue mdl-color-text--white">
          <i class="material-icons">search</i>
        </span> Oplevelser
        </a>
        <a class="mdl-navigation__link" href="">
          <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--teal mdl-color-text--white">
          <i class="material-icons">search</i>
        </span> Oplevelser
        </a>
        <a class="mdl-navigation__link" href="">
          <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--deep-orange mdl-color-text--white">
          <i class="material-icons">event</i>
        </span> Kalender
        </a>
        <a class="mdl-navigation__link" href="">
          <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--brown mdl-color-text--white">
          <i class="material-icons">search</i>
        </span> Oplevelser
        </a>
        <a class="mdl-navigation__link" href="">
          <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--blue-grey mdl-color-text--white">
          <i class="material-icons">map</i>
        </span> Kort
        </a>
        <a class="mdl-navigation__link" href="">
          <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--pink mdl-color-text--white">
          <i class="material-icons">search</i>
        </span> Oplevelser
        </a>
-->
    </nav>
</div>