<footer class="mdl-mega-footer mdl-layout--large-screen-only">
  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Sociale medier</h1>
      <ul class="mdl-mega-footer--link-list">
        <li class="social"><a href="https://www.facebook.com/Elsiwhere/" target="_blank"><span class="social-btn social-btn__facebook"></span> Facebook</a></li>
        <li class="social"><a href="https://twitter.com/elsiwhere"><span class="social-btn social-btn__twitter"></span> Twitter</a></li>
        <li class="social"><a href="#"><span class="social-btn social-btn__instagram"></span> Instagram</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Kontakt</h1>
      <div class="mdl-mega-footer--link-list">
      Helsingør Kommune<br> Familiehuset i Bjerge<br> Bjergegade 10 B, 1.tv.<br> 3000 Helsingør<br> Telefon 49 28 28 28
      </div>
    </div>
  </div>  
</footer>