<div class="mdl-layout__header-row">
    <span class="mdl-layout-title logo" href="/">{{site.title }}</span>
    <div class="mdl-layout-spacer"></div>
    <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">share</i>
          </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
        <li id="share-fb" class="social mdl-menu__item"><a href="#"><span class="social-btn social-btn__black_facebook"></span> Facebook</a></li>
        <li class="social mdl-menu__item"><a href="https://twitter.com/intent/tweet?url={{page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | cgi_escape}}"><span class="social-btn social-btn__black_twitter"></span> Twitter</a></li>
    </ul>
</div>