<!DOCTYPE html>
<html>

{% include head.html style='blue_grey-orange' image='home.jpg'%}

<body>

  <div id="drawer" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer mdl-layout--no-desktop-drawer-button">
    
<header class="mdl-layout__header mdl-layout__header--waterfall" style="height:200px;">
  <div class="header-image"></div>
  
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title logo" href="/">{{site.title }}</span>
    <div class="mdl-layout-spacer"></div>
    <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">share</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
      <li id="share-fb" class="mdl-menu__item">Del på facebook</li>
      <li class="mdl-menu__item">Twitter</li>
    </ul>
  </div>
</header>

    {% include drawer.html %}
    
    <main class="mdl-layout__content">
      <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--8-col-desktop padding">

              <h1 class="mdl-typography--text-center pacifico">{{page.title}}</h1>
                {{page.content}}              
                <div class="mdl-card mdl-shadow--2dp" style="width:100%">
                <div class="mdl-card__title  mdl-color--indigo mdl-color-text--white">
                  <i class="material-icons highlight md-36">search</i>
                  <h2 class="mdl-card__title-text" style="align-self:center;margin-left:8px">Udforsk</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-card--expand">
                  <p>Elsiwhere bliver hele tiden opdateret med nye oplevelser og aktiviteter.</p>
                  <p>Brug søgefunktionen til at vælge mellem forskellige kategorier.</p>
                </div>


                  <div id="items" class="mdl-grid mdl-grid--no-spacing" style="width:100%">
                    
                  </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a href="/search.html" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Søg nu
                  </a>
                </div>
              </div>
          
        </div>
       
        <div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--4-col-desktop">
          <div class="mdl-grid">
           
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet">
              <div class="mdl-card mdl-shadow--2dp" style="width:100%;height:100%">
                <div class="mdl-card__title  mdl-color--teal mdl-color-text--white">
                  <i class="material-icons highlight md-36">public</i>                 
                  <h2 class="mdl-card__title-text" style="align-self:center;margin-left:8px">Kort</h2>
                </div>
                
                <div id="map" class="mdl-card__media minimap">
                                    
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Vis kort
                  </a>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet">
              <div class="mdl-card mdl-shadow--2dp" style="width:100%">
                <div class="mdl-card__title  mdl-color--pink mdl-color-text--white">
                  <i class="material-icons highlight md-36">event</i>                 
                  <h2 class="mdl-card__title-text" style="align-self:center;margin-left:8px">Kalender</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-card--expand">
                  <p>Opret aktiviteter i kalenderen og del dem på sociale medier</p>                  
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Vis alle aktiviteter
                  </a>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet">
              <div class="mdl-card mdl-shadow--2dp" style="width:100%">
                <div class="mdl-card__title  mdl-color--primary mdl-color-text--white">
                  <i class="material-icons highlight md-36">share</i>                 
                  <h2 class="mdl-card__title-text" style="align-self:center;margin-left:8px">Del oplevelser</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-card--expand">
                  <p>Du kan oprette nye aktiviteter og oplevelser som du kan dele med dine venner på Facebook, Twitter og Instagram.</p>
              <p>For at kune dele og oprette nye oplevelse samt aktiviteter skal du være logget ind. Du kan oprette dig som
                bruger på Elsiwhere eller logge ind med Facebook, Twitter og Instagram.</p>                
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Login
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      

      {% include footer.html %}
    </main>
  </div>
  {% include dialog-login.html %}
  <style>
    .header-image {
      background: url('/home.jpg') center / cover;
    }
  </style>
  <script defer src="/js/forside.js"></script>
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNMB2oRUTvJZyUbxCX-hZx6SrzhKAuWCo&callback=initMap"></script>
</body>

</html>