<!DOCTYPE html>
<html>

{% include head.html style='teal-orange' image='forside.jpg' %}

<body>

  <div id="mappage" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer mdl-layout--no-desktop-drawer-button">
    
<header class="mdl-layout__header">  
  {% include header-row.html %}
</header>

    {% include drawer.html %}
    <main class="mdl-layout__content">
      <div id="map" class="mdl-layout__map"></div>
    </main>
  </div>
  {% include dialog-login.html %}
  <script defer src='https://api.mapbox.com/mapbox-gl-js/v0.22.1/mapbox-gl.js'></script>
  <script defer src='/js/map.js'></script>
</body>

</html>